@model DatabaseMvcWebApp.ViewModels.EmployeeViewModel
<!--Employees-->
@{
    ViewBag.Title = "title";
}

<h2>All Employees in Database</h2>

<style>
    table, th, td {
        border: 3px solid gold;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
</style>

<style>
    label, input {
        display: block;
    }

    label {
        margin-bottom: 20px;
    }
</style>

<style>
    .on-left {
        float: left;
    }

    .on-right {
        float: right;
        padding: 25px;
        border-radius: 30px;
        border: 2px solid lightsteelblue;
        background-color: honeydew;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="on-left">
    <table>
        <tr>
            @foreach (var item in Model.coloumnNames)
            {
                <th>
                    <h4>
                        <b>@item</b>
                    </h4>
                </th>
            }
        </tr>
        @{
            int count = 0;
            int columns = Model.coloumnNames.Count;
            int rows = (Model.employees.Count) / columns;
            for (int i = 0; i < rows; i++)
            {
                <tr>
                    @for (int j = 0; j < columns; j++)
                    {
                        <td>
                            <h4>@Model.employees[count]</h4>
                        </td>
                        count = count + 1;
                    }
                </tr>
            }
        }
    </table>
</div>

<div class="on-right">

    @using (Html.BeginForm("Index", "Employees", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h3>Search by these fields:</h3>
        <label>
            ID
            <input type="text" name="id" data-val="true" data-val-regex="Must be valid id" data-val-regex-pattern="([1-9][0-9]*)" />
            <span class="field-validation-valid" data-valmsg-for="id" data-valmsg-replace="true"></span>
        </label>

        <label>
            First Name
            <input type="text" name="forename" data-val="true" data-val-maxlength="Max 63 characters" data-val-maxlength-max="63" />
            <span class="field-validation-valid" data-valmsg-for="forename" data-valmsg-replace="true"></span>
        </label>

        <label>
            Surname
            <input type="text" name="surname" data-val="true" data-val-maxlength="Max 63 characters" data-val-maxlength-max="63" />
            <span class="field-validation-valid" data-valmsg-for="surname" data-valmsg-replace="true"></span>
        </label>

        <label>
            DOB
            <input type="text" name="dob" placeholder="YYYY-MM-DD" />
            <span class="field-validation-valid" data-valmsg-for="dob" data-valmsg-replace="true"></span>

        </label>

        <label>
            Role
            <input type="text" name="role" data-val="true" data-val-maxlength="Max 63 characters" data-val-maxlength-max="63" />
            <span class="field-validation-valid" data-valmsg-for="role" data-valmsg-replace="true"></span>
        </label>

        <label>
            Room
            <input type="text" name="room" data-val="true" data-val-regex="Must be valid number" data-val-regex-pattern="([1-9][0-9]*)" />
            <span class="field-validation-valid" data-valmsg-for="room" data-valmsg-replace="true"></span>
        </label>

        <label>
            <input type="submit" value="Filter" />
        </label>
    }

    @using (Html.BeginForm("AddNewEmployee", "Employees", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h3>Add a new employee:</h3>

        <label>
            First Name
            <input type="text" name="forename" data-val="true" data-val-maxlength="Max 63 characters" data-val-maxlength-max="63" />
            <span class="field-validation-valid" data-valmsg-for="forename" data-valmsg-replace="true"></span>
        </label>

        <label>
            Surname <i>(required)</i>
            <input type="text" name="surname" data-val="true" data-val-required="Required" data-val-maxlength="Max 63 characters" data-val-maxlength-max="63" />
            <span class="field-validation-valid" data-valmsg-for="surname" data-valmsg-replace="true"></span>

        </label>

        <label>
            DOB
            <input type="text" name="dob" placeholder="YYYY-MM-DD" />
            <span class="field-validation-valid" data-valmsg-for="dob" data-valmsg-replace="true"></span>

        </label>

        <label>
            Role
            <input type="text" name="role" data-val="true" data-val-maxlength="Max 63 characters" data-val-maxlength-max="63" />
            <span class="field-validation-valid" data-valmsg-for="role" data-valmsg-replace="true"></span>
        </label>

        <label>
            Room <i>(required)</i>
            <input type="text" name="room" data-val="true" data-val-required="Required" data-val-regex="Must be valid number" data-val-regex-pattern="([1-9][0-9]*)" />
            <span class="field-validation-valid" data-valmsg-for="room" data-valmsg-replace="true"></span>
        </label>

        <label>
            <input type="submit" value="Add employee" />
        </label>
    }

    @using (Html.BeginForm("DeleteEmployee", "Employees", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h3>Delete an existing employee:</h3>
        <label>
            ID
            <input type="text" name="id" data-val="true" data-val-regex="Must be valid id" data-val-regex-pattern="([1-9][0-9]*)" />
            <span class="field-validation-valid" data-valmsg-for="id" data-valmsg-replace="true"></span>
        </label>

        <label>
            First Name
            <input type="text" name="forename" data-val="true" data-val-maxlength="Max 63 characters" data-val-maxlength-max="63" />
            <span class="field-validation-valid" data-valmsg-for="forename" data-valmsg-replace="true"></span>
        </label>

        <label>
            Surname
            <input type="text" name="surname" data-val="true" data-val-maxlength="Max 63 characters" data-val-maxlength-max="63" />
            <span class="field-validation-valid" data-valmsg-for="surname" data-valmsg-replace="true"></span>
        </label>

        <label>
            DOB
            <input type="text" name="dob" placeholder="YYYY-MM-DD" />
            <span class="field-validation-valid" data-valmsg-for="surname" data-valmsg-replace="true"></span>
        </label>

        <label>
            Role
            <input type="text" name="role" data-val="true" data-val-maxlength="Max 63 characters" data-val-maxlength-max="63" />
            <span class="field-validation-valid" data-valmsg-for="role" data-valmsg-replace="true"></span>
        </label>

        <label>
            Room
            <input type="text" name="room" data-val="true" data-val-regex="Must be valid number" data-val-regex-pattern="([1-9][0-9]*)" />
            <span class="field-validation-valid" data-valmsg-for="room" data-valmsg-replace="true"></span>
        </label>

        <label>
            <input type="submit" value="Delete employee" />
        </label>
    }


</div>
<div class="clear"></div>